<header>
    <h1>{{title}}</h1>    <!--app.js properies serveup-->
    <br>
    <div class="container">
        <a href="/"><div class="child">Home</div></a>
        <a href="/about"><div class="child">About</div></a>
        <a href="/help"><div class="child">Help</div></a>
    </div>
    <br>
</header>
